<div class="container">

  <div class="row">

    <div class="col-sm-8 feed">

      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title">[EMOTION LEVEL]</h4>
          <p class="card-text">Post content or excerpt.</p>
          <a href="#" class="btn btn-primary btn-sm">#tag1</a>
          <a href="#" class="btn btn-primary btn-sm">#tag2</a>
          <a href="#" class="btn btn-primary btn-sm">#tag3</a>

        </div>
        <div class="card-footer text-muted">
          By Gunnar Gabrielson on 2/19/2016 at 5:34 PM
        </div>
      </div>

      <div class="card text-xs-center">
        <div class="card-block">
          <h4 class="card-title">[EMOTION LEVEL]</h4>
          <p class="card-text">Post content or excerpt.</p>
          <a href="#" class="btn btn-primary btn-sm">#tag1</a>
          <a href="#" class="btn btn-primary btn-sm">#tag2</a>
          <a href="#" class="btn btn-primary btn-sm">#tag3</a>

        </div>
        <div class="card-footer text-muted">
          By Gunnar Gabrielson on 2/19/2016 at 5:34 PM
        </div>
      </div>


    </div><!--/.feed-->

    <div class="col-sm-3 col-sm-offset-1 sidebar">
      <div class="sidebar-module sidebar-module-inset">Graphs and Stuff</div>
      <div class="sidebar-module">Data Vis</div>
    </div><!--/.sidebar-->
  </div><!--/.row-->
</div><!--/.container-->
