<div class="navbar navbar-static-top navbar-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><img src="assets/img/dmlogo.png"></a>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6 login">
      <div class="card card-inverse bg-inverse">
        <div class="card-block">
          <h3 class="card-title">Login</h3>
          <form ng-submit="login()">

            <fieldset class="form-group fancy-input" ng-class="{'input--filled': user.email}">
              <input ng-model="user.email" type="text" class="form-control input__field" id="email">
              <label class="input__label" for="email">
                <span class="input__label-content" data-content="Email">Email</span>
              </label>
            </fieldset>

            <fieldset class="form-group fancy-input" ng-class="{'input--filled': user.password}">
              <input ng-model="user.password" type="password" class="form-control input__field" id="password">
              <label class="input__label" for="password">
                <span class="input__label-content" data-content="Password">Password</span>
              </label>
            </fieldset>

            <button type="submit" class="btn btn-primary">Login</button>

          </form>
            
          <button class="devmtnlogin btn btn-primary">
            <a href="/auth/devmtn">Login with DevMountain</a>
          </button>
        </div>
      </div>
    </div><!--/.login-->

    <div class="col-sm-6 signup">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Signup</h3>
          <p class="card-text">Don't have an account? Signup now!</p>
          <form ng-submit="signup()">

            <fieldset class="form-group">
              <label for="email">First Name</label>
              <input ng-model="userSignup.firstName" type="text" class="form-control" id="first-name" required>
            </fieldset>

            <fieldset class="form-group">
              <label for="email">Last Name</label>
              <input ng-model="userSignup.lastName" type="text" class="form-control" id="last-name" required>
            </fieldset>

            <fieldset class="form-group">
              <label for="email">Email address</label>
              <input ng-model="userSignup.email" type="email" class="form-control" id="email" required>
            </fieldset>

            <fieldset class="form-group">
              <label for="password">Password</label>
              <input ng-model="userSignup.password" type="password" class="form-control" id="password" required>
            </fieldset>

            <button type="submit" class="btn btn-primary-outline">Signup</button>

          </form>
        </div>
      </div>
    </div><!--/.signup-->
   
      
    


  </div><!--/.row-->
</div><!--/.container-->
