<div  class="navbar navbar-static-top navbar-dark bg-inverse">
    <a href="/" class="navbar-brand"><img src="assets/img/dmlogo.png"></a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img gravatar-src="userInfo.email" gravatar-size="20" gravatar-default="mm">
          <span class="text-capitalize">{{userInfo.firstName}} {{userInfo.lastName}} </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <a class="dropdown-item"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item"><i class="fa fa-cog"></i> Preferences</a>
          <a class="dropdown-item" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
        </li>

       <!-- <li class="nav-item">
           <a ui-sref="profile({id:userId})" class="nav-link">
               <img gravatar-src="userInfo.email" gravatar-size="20" gravatar-default="mm">
               <span class="text-capitalize">{{userInfo.firstName}} {{userInfo.lastName}} </span>
             </a>
       </li> -->
       <!-- <li class="nav-item">
       </li> -->
     </ul>
</div>
