<div class="container-fluid">
  <div class="row">
    <div class="feed">
      <div class="card text-cs-center">
        <div class="card-header">
          Thought
        </div>
        <div class="card-block">

          <div class="posts-timeline" >
              <div>
                   <p class='datePosted'> Date Posted: {{postData.datePosted | date:'MM/dd h:mma'}} </p>
                Tags: {{postData.tags}}
                <br></br>
                {{postData.body}}                  

              </div>

              <div class="pt-body">
                  <!-- <h2 class="pt-title">Stats maybe here?</h2> -->
                  <div class="clearfix">
                   
                  </div>

              </div><!--/.pt-body-->
              
          </div><!--/.posts-timeline-->
                <div>
                Comments:
                  
              
               
                 
              </div>
              

    </div>
  </div>
 
</div>

    <div class="sidebar">
      <div class="scroll-body" slimscroll="{
        height: '500px',
        color: 'white',
        alwaysVisible: false,
        railVisible: true,
        railOpacity: '0.7'
      }">

          <form ng-submit="createPost()">
            <fieldset class="form-group">
              <label for="emotionlevel"></label>

                <div class="author">
                     <img class="authorImg" gravatar-src="postData.user.email" gravatar-size="100" gravatar-default="mm">
                     <p class='authorInfo'>
                      User: {{postData.user.firstName}}
                     {{postData.user.lastName}}
                     <br>
                     Email: {{postData.user.email}}
                      <br>
                     Cohort: {{postData.user.cohort}}
                     <br>
                     Mentor: {{postData.user.assignedMentor}}
                     <br>
                    Days: {{postData.user.startDate | date:'MM/dd h:mma'}}</p>
                     
                     <div> 
                       <button class ="followBtn">Follow </button>  
                       </div>
                       
                     <div class="emotionalLevels"> 
                      <p>Average
                         Emotional 
                         Level: {{postData.positiveScale}}
                      </p>
                               
                     </div>    
                        
                     <div class="emotionalLevels"> 
                      <p>Weekly <br>
                       Average: {{postData.positiveScale}} </p>
                     </div>    
                 
                    <div class="lastPosts"> 
                      <p> Recent Posts</p>  
                        <div class="recentPosts"> </div>
                        <div class="recentPosts"> </div>
                        <div class="recentPosts"> </div>
                        <div class="recentPosts"> </div>
                        <div class="recentPosts"> </div>
                    </div>  
               <div class="lineChart">  
                <nvd3 options="options" data="data" class="lineChart"></nvd3>
                 </div>
                    </div>
                 
            </fieldset>

           
          </form>

      <!--/.input form-->

      </div>
      </div><!--/slimscroll-->
    </div><!--/.sidebar-->
  </div><!--/.row-->
</div><!--/.container-fluid-->

