<div ng-include="'app/templates/navTmpl.html'"></div>

<div class="container-fluid post-detail">
  <div class="row">
    <div class="feed">
      <div class="card text-cs-center">
        <div class="card-header row  text-xs-center">
          <div class="col-md-3">
            {{postData.datePosted | date:"M/d/yyyy 'at' h:mma"}}
          </div>
          <div class="col-md-3 emotion-level">EMOTION LEVEL
            <img ng-src="assets/img/faces/face-{{postData.positiveScale-1}}.svg">
            <span>{{postData.positiveScale}}</span>
          </div>
          <div class="col-md-3">
            <a ng-click="scrollTo('#comments')">
              <i class="fa fa-comment"></i>
              {{postData.numComments || '0'}}
              COMMENTS</a>
          </div>
          <div class="col-md-3">
            <span class="tag" ng-repeat="tag in postData.tags">{{tag}}
            </span>
          </div>
        </div>
        <div class="card-block">
          <div class="scroll-body" slimscroll="{ height: 'auto', color: '#333', railVisible: true, railOpacity: '0.7', railColor: '#DDDDDD'}">
            <div class="post-detail-wrapper">
              <div class="post-detail-content" marked="postData.body"></div>
              <div class="comments-section" id="comments">
                <h2 class="section-title">Comments</h2>
                <div class="add-comment">
                  <form ng-submit="addComment()">
                    <fieldset class="form-group fancy-input" ng-class="{'input--filled': commentBody}">
                      <textarea type="text" class="form-control commentArea input__field" ng-model="commentBody" maxlength="2000" required></textarea>
                      <label class="input__label" for="comment">
                        <span class="input__label-content" data-content="Add a Comment">Add a Comment</span>
                      </label>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <div class="comment clearfix" ng-repeat="comment in comments">
                  <div class="comment-meta">
                    <img gravatar-src="comment.user.email" gravatar-size="50" gravatar-default="mm">
                    <div class="comment-author">{{comment.user.firstName}}
                      {{comment.user.lastName}}</div>
                    <div class="comment-time" am-time-ago="comment.datePosted"></div>
                  </div>
                  <div class="comment-body" marked="comment.body"></div>
                </div>
              </div>
            </div>
            <div class="post-detail-watermark">
              <ng-include src="'assets/img/faces/face-'+(postData.positiveScale - 1)+'.svg'"></ng-include>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="scroll-body" slimscroll="{ height: 'auto', color: '#CCC', railVisible: true, railOpacity: '0.7'}">
        <div class="author clearfix">
          <div class="author-avatar">
            <img gravatar-src="postData.user.email" gravatar-size="100" gravatar-default="mm">
            <button class="btn btn-primary btn-sm btn-block" ng-if="!following" ng-click="follow()">Follow</button>
            <button class="btn btn-success btn-sm btn-block active" ng-if="following" ng-click="unfollow()">Unfollow</button>
          </div>
          <div class="author-meta">
            <div class="author-name">{{postData.user.firstName}}
              {{postData.user.lastName}}</div>
            <strong>day
              {{daysInProgram}}
              in
              {{postData.user.cohort}}</strong><br>
            <small>Mentor:
              {{postData.user.assignedMentor}}</small>
          </div>
        </div>

        <div class="author-stats">

          <strong>OVERALL</strong>
          <div class="stats-box clearfix">
            <img ng-src="assets/img/faces/face-{{userAverage}}.svg" class="eo-face post-face">
            <div class="average et-{{userAverage}}">{{userAverage}}</div>
            <div class="info">
              <div class="title">{{postData.user.firstName}}'s Avg Emotion Level</div>
              <small>From
                <strong>{{userCount}}</strong>
                Total Posts</small>
            </div>
          </div>

          <div class="stats-box clearfix">
            <img ng-src="assets/img/faces/face-{{cohortAverage}}.svg" class="eo-face post-face">
            <div class="average et-{{cohortAverage}}">{{cohortAverage}}</div>
            <div class="info">
              <div class="title">Cohort Avg Emotion Level</div>
              <small>From
                <strong>{{cohortCount}}</strong>
                Total Posts</small>
            </div>
          </div>
          <hr>
          <strong>LAST WEEK</strong>
          <div class="stats-box clearfix">
            <img ng-src="assets/img/faces/face-{{userAverageLastWeek}}.svg" class="eo-face post-face">
          <div class="average et-{{userAverageLastWeek}}">{{userAverageLastWeek}}</div>
            <div class="info">
              <div class="title">{{postData.user.firstName}}'s Avg Emotion Level</div>
              <small>From
                <strong>{{userCountLastWeek}}</strong>
                Total Posts</small>
            </div>
          </div>

          <div class="stats-box clearfix">
          <img ng-src="assets/img/faces/face-{{cohortAverageLastWeek}}.svg" class="eo-face post-face">
          <div class="average et-{{cohortAverageLastWeek}}">{{cohortAverageLastWeek}}</div>
            <div class="info">
              <div class="title">Cohort Avg Emotion Level</div>
              <small>From
                <strong>{{cohortLastWeekCount}}</strong>
                Total Posts</small>
            </div>
          </div>

        </div>
        <!--/.author-stats-->
      </div>
      <!--/slimscroll-->
    </div>
    <!--/.sidebar-->
  </div>
  <!--/.row-->
</div>
<!--/.container-fluid-->
