<div ng-include="'app/templates/navTmpl.html'"></div>

<div class="page">
    <div class="page-content-wrapper">
      <div class="page-content full-width no-headbar">

        <div class="scroll-body" slimscroll="{ height: '100%', width: '100%', color: '#333', railVisible: true, railOpacity: '0.7', railColor: '#DDDDDD'}">
          <div class="page-detail-wrapper">
            <div class="card">
              <img class="card-img-top" data-src="..." alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-block">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>


        </div><!--/.scroll-body-->
      </div><!--/.page-content-->

    </div><!--/.page-content-wrapper-->
</div><!--/.page-->
