<div ng-include="'app/templates/navTmpl.html'"></div>

<div class="page">
    <div class="page-content-wrapper">
      <div class="page-content full-width no-headbar">

        <div class="scroll-body" slimscroll="{ height: '100%', width: '100%', color: '#333', railVisible: true, railOpacity: '0.7', railColor: '#DDDDDD'}">
          <div class="page-detail-wrapper">
            <div class="card prefs">
              <h4 class="card-header">PREFERENCES</h4>
              <div class="card-block">
                <p class="card-text">  <pre>{{currentUser}}</pre>  </p>
              </div>
              <div class="card-block">
                <form>
                  <fieldset class="form-group">
                    <label for="email-address">Email</label>
                    <input type="email" class="form-control" id="email-address" placeholder="Enter Email" required>
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </fieldset>


                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Option one is this and that&mdash;be sure to include why it's great
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else and selecting it will deselect option one
                    </label>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>


        </div><!--/.scroll-body-->
      </div><!--/.page-content-->

    </div><!--/.page-content-wrapper-->
</div><!--/.page-->
