<div class="container-fluid">
  <div class="row">
    <div class="feed">
      <div class="card text-cs-center">
        <div class="card-header">
          Profile
        </div>
        <div class="card-block" style="height:calc(100vh - 114px);">
          <div class="scroll-body" slimscroll="{
            height: 'auto',
            color: '#333',
            railVisible: true,
            railOpacity: '0.7',
            railColor: '#DDDDDD'
          }">
        <div class="card-block">
          <div class="posts-timeline" >
              <div marked="postData.body">
               
              </div>

               
              <div class="pt-body">
               <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
                </div>
                    
                  <p class="daysIn"> Days In Hell: {{daysInProgram}} <br>
                  Day {{daysInProgram}} Heat Level : 
                       </p>
                  <h1 class='statistics'> Statistics </h1>
                 
                   <div class="lineChart">
                        <nvd3 options="options" data="data" class="lineChart"></nvd3>
                          </div>
                  
                  
                  
                  <div class="clearfix">

                  </div>
              </div><!--/.pt-body-->
          </div><!--/.posts-timeline-->


     

    </div>
  </div>

        </div><!---SLIM SCROLL-->
        </div>
</div>

    <div class="sidebar">
      <div class="scroll-body" slimscroll="{
        height: '700px',
        color: 'white',
        alwaysVisible: false,
        railVisible: true,
        railOpacity: '0.7'
      }">
              <div class="author">
                     Preferences 
                     <br></br>
                     <h4> View </h4>
               <form ng-submit="changeSettings()">
                   <div class='views'>
                      <input class="viewInput" type="radio" name="view" value="regular"><br> Regular <br>
                      <input class="viewInput" type="radio" name="view" value="timeline"><br> TimeLine <br>
                      <input class="viewInput" type="radio" name="view" value="Graph"><br> Graph <br>
                      </div>
                      <br></br>
                      <h4> Communitcation </h4>
                   <div>
                      <input type="Radio" name="communication" value="commentEmail"> Recieve a email every time someone comments on your post <br>
                      <input type="Radio" name="communication" value="WeeklyEmail"> Weekly overview email <br>
                      </div>
                      <br></br>
                      <h4> Privacy </h4>
                   <div>
                      <input type="Radio" name="privacy" value="public"> Private <br>
                      <input type="Radio" name="privacy" value="WeeklyEmail"> Public <br>                    
                      </div>
                      <br> </br>
                      <button type="submit">Save Settings</button>
                  </form>            
               </div>
                  
                     

                     






      <!--/.input form-->



      </div><!--/slimscroll-->
    </div><!--/.sidebar-->
  </div><!--/.row-->
</div><!--/.container-fluid-->
