<div ng-include="'app/templates/navTmpl.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="feed">
      <div class="card text-cs-center">
        <div class="card-header">
          {{first}} {{last}}
          <a class="topFilter"> Cohort  </a>
          <a class="topFilter"> Group | </a>
          <a class="topFilter"> Following  |</a>
           <a class="topFilter"> Me  |</a>
        </div>
        <div class="card-block" style="height:calc(100vh - 114px);">
          <div class="scroll-body" slimscroll="{
            height: 'auto',
            color: '#333',
            railVisible: true,
            railOpacity: '0.7',
            railColor: '#DDDDDD'
          }">
        <div class="card-block">
          <div class="posts-timeline" >
              <div marked="postData.body">

              </div>


              <div class="pt-body">
               <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-click="submit()">

                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="findEmotionLevel(0)">Today</a></li>
                    <li><a ng-click="findEmotionLevel(1)">Past Week</a></li>
                    <li><a  ng-click="findEmotionLevel(2)">Past Month</a></li>
                    <li><a ng-click="findEmotionLevel(3)">All Time</a></li>
                </ul>
                </div>
                  <h1 class='statistics'> Statistics </h1>

                User:  {{userAverage}} <br> <br>
                Cohort:   {{cohortAverage}}<br>
                 Mentor:  {{mentorAverage}}     <br>
                Following:  {{followersAverage}}

                   <div class="lineChart">
                        <!--<nvd3 options="options" data="data" class="lineChart"></nvd3>-->

                        <nvd3 options="options" data="data" api="api"></nvd3>
                          </div>



                  <div class="clearfix">

                  </div>
              </div><!--/.pt-body-->
          </div><!--/.posts-timeline-->




    </div>
  </div>

        </div><!---SLIM SCROLL-->
        </div>
</div>

    <div class="sidebar">
      <div class="scroll-body" slimscroll="{
        height: '700px',
        color: 'white',
        alwaysVisible: false,
        railVisible: true,
        railOpacity: '0.7'
      }">
              <div class="author">
                     Preferences
                     <br></br>
                     <h4> View </h4>
               <form ng-submit="changeSettings()">
                   <div class='views'>
                      <input class="viewInput" type="radio" ng-model="view" value="regular">
                       Regular <br>
                      <input class="viewInput" type="radio" ng-model="view" value="timeline">
                      TimeLine <br>
                      <input class="viewInput" type="radio" ng-model="view" value="Graph">
                       Graph <br>
                      </div>
                      <br></br>
                      <h4> Communitcation </h4>
                   <div>
                      <input class="viewInput" type="Radio" ng-model="communication" value="commentEmail"> Recieve a email every time someone comments on your post <br>
                      <input class="viewInput" type="Radio" ng-model="communication" value="WeeklyEmail"> Weekly overview email <br>
                      </div>
                      <br></br>
                      <h4> Privacy </h4>
                   <div>
                      <input class="viewInput" type="Radio" ng-model="privacy" value="public"> Private <br>
                      <input class="viewInput" type="Radio" ng-model="privacy" value="WeeklyEmail"> Public <br>
                      </div>
                      <br> </br>
                      <button type="submit">Save Settings</button>
                  </form>
               </div>










      <!--/.input form-->



      </div><!--/slimscroll-->
    </div><!--/.sidebar-->
  </div><!--/.row-->
</div><!--/.container-fluid-->
