<div ng-include="'app/templates/navTmpl.html'"></div>

<div class="page">
    <div class="page-content-wrapper">
      <div class="page-content full-width">
        <div class="page-headbar container-fluid">
          <div class="col-sm-6 query-info"></div>
          <div class="col-sm-6 text-xs-right view-buttons">
            FILTER:
            <span ng-click="getAverages('day')" ng-class="{toggled: range == 'day'}">Today</span>
            <span ng-click="getAverages('week')" ng-class="{toggled: range == 'week'}">Past Week</span>
            <span ng-click="getAverages('month')" ng-class="{toggled: range == 'month'}">Past Month</span>
            <span ng-click="getAverages('allTime')" ng-class="{toggled: range == 'allTime'}">All Time</span>
             <!-- &nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
            <span ui-sref-active="toggled" ui-sref="timeline" data-toggle="tooltip" data-placement="bottom" title="Timeline View"><i class="fa fa-clock-o"></i></span>
            <span ui-sref-active="toggled" ui-sref="standard" data-toggle="tooltip" data-placement="bottom" title="Standard View"><i class="fa fa-bars"></i></span> -->
            <!-- <span data-toggle="tooltip" data-placement="bottom" title="D3 View"><i class="fa fa-bar-chart"></i></span> -->
          </div>
        </div>
        <div class="scroll-body" slimscroll="{ height: '100%', width: '100%', color: '#333', railVisible: true, railOpacity: '0.7', railColor: '#DDDDDD'}">
          <div class="page-detail-wrapper container-fluid">
            <div class="row">
              <div class="col-xl-6">
                <div class="card">
                  <div class="card-header text-capitalize">Average Emotion Levels - {{range}}</div>
                  <div class="card-block">
                    <canvas
                      id="bar"
                      class="chart chart-bar"
                      chart-data="averages.data"
                      chart-labels="averages.labels"
                      chart-options="averages.options"
                      >
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card">
                  <div class="card-header text-capitalize">Average Emotion Levels - {{currentUser.firstName}} {{currentUser.lastName}} - {{range}}</div>
                  <div class="card-block">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="postDataUser.data"
                      chart-labels="postDataUser.labels"
                      chart-options="postDataUser.options">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
        </div><!--/.scroll-body-->
      </div><!--/.page-content-->
      <!-- <div class="sidebar">
        <div class="scroll-body" slimscroll="{ height: '100%', width: '100%', color: '#CCC', railVisible: true, railOpacity: '0.7'}">
            <pre>{{posts}}</pre>
            <pre>{{postDataUser}}</pre>
        </div>
      </div> -->
    </div><!--/.page-content-wrapper-->
</div><!--/.page-->
