<div class="posts-timeline">
    <div class="pt-line text-right">
        <span class="d-block">2015</span>
        05/08
    </div>

    <div class="pt-body">
        <h2 class="pt-title">Stats maybe here?</h2>
        <div class="clearfix">
            <div class="person" ng-repeat="post in posts track by $index">
              <img gravatar-src="post.user.email" gravatar-size="70" gravatar-default="mm">
            </div>
        </div>

    </div><!--/.pt-body-->

</div><!--/.posts-timeline-->
