
.navbar {
    border-radius: 0;
    margin-bottom: 20px;
}

.navbar-brand img {
  max-width:200px;
}

.feed, .sidebar {
  min-height: 500px;
  margin-top: 10px
}


/********************/
/** LOGIN / SIGNUP **/
/********************/

.login .card-inverse {
  background-color: #333;
  border-color: #222;
}

.login .card-inverse .card-block .form-group label {
  color: #909090;
}
